{% extends 'dealer/base.html' %}
{% load path_tag_filter %}
{% block content_ProductCard %}

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{product_item.product_name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{product_item.price}}<small class="text-body-secondary fw-light"> руб.</small></h1>
              {{product_item.description}} <br>
              <img src="{{"python/Minduka_Present_Blue_Pack.png"|mediapath}}" alt="Present"><br>
              <img width="50px" src="{% get_media_prefix "python/Minduka_Present_Blue_Pack.png" %}" alt="Present"><br>

            <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
          </div>
        </div>
      </div>

{% endblock %}